@using A.ÖzgürOnurYıldırım_E_ticaretSitesiWebUI.Models.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}



<div class="container pb-5">
    <div class="row">

        <div class="col-md-5">
            <img src="~/Upload/@Model.Image" class="img-responsive w-100">
        </div>
        <br />
        <br />
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Name</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="badge badge-primary"> Stokta </span>
                        <span class="product-number">@Model.Stock</span>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ıd="description">
                                @Model.Description
                            </div>

                            <div class="row">
                                


                                <div class="col-md-12">
                                    <h4 ıd="product-price">@Model.Price tl </h4>


                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @using (Html.BeginForm("AddToCart","Cart")){
                                            @Html.HiddenFor(i=>i.Id)
                                        <button type="submit" class="btn btn-success">Sepete Ekle</button>
                                         
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bd-example bd-example-tabs">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-toggle="pill" data-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Yıldırım Elektronik</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Ürün Hakkında</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-toggle="pill" data-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Şikayet</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <p>Yıldırım Elektronik, yüksek kaliteli elektronik cihazlar, bileşenler ve donanımlar sunan, uzun yıllara dayanan deneyime sahip bir firmadır. Müşteri odaklı yaklaşımı, yenilikçi ürünleri ve sektördeki liderliğiyle tanınır</p>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <p>@Model.Description</p>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <p>Ürün hakkındaki merak ettiğiniz konuları ve ürün hakkında şikayetleriniz için e-mail:ozgur.onur.yildirim@gmail adresine dilek şikayet ve ö</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>